# kubernetes/overlays/dev/kustomization.yaml
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base

nameSuffix: -dev
commonLabels:
  environment: dev

images:
  - name: asia-south1-docker.pkg.dev/zebraan-gcp-zebo-dev/zebo-registry/zebo-app
    newTag: sha-39b5b9b

patchesStrategicMerge:
  - patch-deployment.yaml
