# kubernetes/overlays/dev/patch-deployment.yaml
apiVersion: apps/v1
kind: Deployment
metadata:
  name: zebo-app
spec:
  template:
    spec:
      containers:
      - name: app
        command: ["uvicorn"]
        args: ["zebo.main:app", "--host", "0.0.0.0", "--port", "8080"]
        env:
        - name: ENVIRONMENT
          value: "development"
        resources:
          requests:
            cpu: "100m"
            memory: "256Mi"
          limits:
            cpu: "1000m"
            memory: "1Gi"