# kubernetes/base/deployment.yaml
apiVersion: apps/v1
kind: Deployment
metadata:
  name: zebo-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: zebo
  template:
    metadata:
      labels:
        app: zebo
    spec:
      # imagePullSecrets:
      # - name: artifact-registry-secret
      containers:
      - name: app
        image: asia-south1-docker.pkg.dev/zebraan-gcp-zebo-dev/zebo-registry/zebo-app:latest
        ports:
        - containerPort: 8000
        env:
        - name: ENVIRONMENT
          value: "base"
        resources:
          requests:
            cpu: "100m"
            memory: "512Mi"
          limits:
            cpu: "300m"
            memory: "1Gi"
        livenessProbe:
          httpGet:
            path: /health
            port: 8000
          initialDelaySeconds: 60
          periodSeconds: 10
          timeoutSeconds: 2
          failureThreshold: 5
        readinessProbe:
          httpGet:
            path: /ready
            port: 8000
          initialDelaySeconds: 30
          periodSeconds: 10