# kubernetes/base/deployment.yaml
apiVersion: apps/v1
kind: Deployment
metadata:
  name: zebo-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: zebo
  template:
    metadata:
      labels:
        app: zebo
    spec:
      containers:
      - name: app
        image: asia-south1-docker.pkg.dev/zebraan-gcp-zebo-dev/zebo-registry/zebo-app:latest
        ports:
        - containerPort: 8000
        env:
        - name: ENVIRONMENT
          value: "base"
        resources:
          requests:
            cpu: "50m"
            memory: "64Mi"
          limits:
            cpu: "200m"
            memory: "256Mi"
        livenessProbe:
          httpGet:
            path: /health
            port: 8000
          initialDelaySeconds: 5
          periodSeconds: 10
        readinessProbe:
          httpGet:
            path: /ready
            port: 8000
          initialDelaySeconds: 5
          periodSeconds: 5