# kubernetes/overlays/prod/kustomization.yaml
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base

nameSuffix: -prod
commonLabels:
  environment: prod

images:
  - name: asia-south1-docker.pkg.dev/zebraan-gcp-zebo/zebo-registry/zebo-app
    newTag: v1.0.0  # You'll want to pin to specific versions in prod

patchesStrategicMerge:
  - patch-deployment.yaml